@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
:root{
  --dark1: #4f2a3e;
  --light1:#f0917b;
  --light2: #eed6bb;
  --dark2: #232c26;
  --darker2: #121513;
  --current-val: var(--light1);
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Fascinate', cursive;
  box-sizing: border-box;
}
span{
  color:var(--light1)
}
.App{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--darker2);
  overflow: hidden;
}
#head{
  display: flex;
  justify-content: center;
  background-color: var(--darker2);
  box-shadow: 0px 2px 2px var(--darker2);
  color: var(--light2);
  font-size: 40px;
  width: 100%;
  height: 108px;
  overflow: hidden;
}
#bod{
  scale: 0;
  background-color: var(--dark2);
  color:var(--light2);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}
#foot{
  background-color: var(--darker2);
  box-shadow: 2px -2px 2px var(--darker2);
  z-index: 10;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color:var(--light2);
  overflow: hidden;
}
#read{
  background-color: var(--dark2);
  scale: 0;
  color: var(--light2);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}
#foot span{
  margin: 0 15px;
}
.subtitle{
  color: var(--light1);
  font-size: 48px;
}
.text{
  color: var(--light2);
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 20px 0;
}
.characters-tutorial{
  background-image: url("./waldo.png");
  width: 100px;
  height: 100px;
  background-size: cover;
}
.picture-tutorial{
  background-image: url("./waldo-background.png");
  width: 100px;
  height: 100px;
  background-size: cover;
}
.image-block{
  display: flex;
}
.wrap-p{
  color: var(--light1);
  width: 400px;
  height: 80px;
  display: flex;
  margin-top: 10px;
  font-size: 30px;
  justify-content: space-between;
  margin: 20px 0;
  margin-right: 5px;
}
.wrap-p .two{
  display: flex;
  align-items: flex-end;
}
#click{
  color: var(--current-val);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#click:hover{
  cursor: pointer;
}

#try-to-find{
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 2rem;
}
#img-char-1{
  background-image: url("./duffman.png");
  background-size: cover;
  width: 150px;
  height: 150px;
}
#img-char-2{
  background-image: url("./scooby-doo.png");
  background-size: cover;
  width: 150px;
  height: 150px;
  scale: 0.9;
}
#img-char-3{
  background-image: url("./waldo_1.png");
  background-size: cover;
  width: 150px;
  height: 150px;
  scale: 0.75;
}
.character-div{
  display: flex;
  width: 420px;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
}
#game{
  position: absolute;
  top: 0;
  left: 0;
  height: 1400px;
  width: 2000px;
  overflow: hidden;
  background-color: var(--dark2);  
}
#game-image{
  background-size: contain;
  background-repeat: no-repeat;
  height: 1400px;
  width: 2000px;
  overflow: hidden !important;
}
#pop-up{
  scale: 0;
  position: absolute;
  width: 200px;
  left: 0;
  top: 0;
  scale: 0;
  background-color: var(--dark1);
  opacity: 0.95;
  color: whitesmoke;
  border-radius: 10px;
  border-color: var(--darker2);
  transition: all 0.1s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#border{
  position: absolute;
  left: 0;
  top: 0;
  scale: 0;
  height: 30px;
  width: 30px;
  border: 4px #ff512a dotted;
  border-radius: 50%;
  transition: all 0.1s linear;
}
.smaller{
  width: 120px !important;
  height: 120px !important;
  transition: all 0.33s ease-in-out;
}
#blackout{
  position: absolute;
  left: 0;
  top: 0;
  width: 2000px;
  height: 1400px;
  background-color: #232c26e8;
  z-index: 200;
  overflow: hidden;
}
#counter{
  position: fixed;
  top: 250px;
  left: calc(50% - 30px);
  color: rgba(62, 249, 52, 0.965);
  background-color: #232c26b2;
  padding: 3px;
  border-radius: 5px;
  z-index: 300;
  display: flex;
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.3s ease-in-out;
}
#counter > *{
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.3s ease-in-out;
}
#score{
  position: fixed;
  top: 25px;
  left: 60px;
  color: var(--light2);
  background-color: #232c26c5;
  padding: 3px;
  border-radius: 5px;
  z-index: 300;
  display: flex;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.3s ease-in-out;
}
#game-over{
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
}
#game-over > *{
  font-family: 'Josefin Sans', sans-serif;
}
#img-parent{
  overflow: hidden;
}
#loading{
  position: absolute;
  display: flex;
  top: 10%;
  left: calc(50% - 300px);
  font-size: 64px;
  color: white;
  z-index: 999;
}


/*
ANIMATIONS
*/
.fade-in{
  scale: 0;
  animation: smallToBig 1s ease-in-out forwards; 
}
.start-button{
  font-size: 60px;
  color: var(--light1);
}
.start-button:hover{
  animation: rainbow 0.6s ease-in-out 0s infinite;
  cursor: pointer;
}
.fade-out{
  animation: fadeOut 0.5s ease-in-out 0s forwards;
  scale: 1;
}

@keyframes rainbow {
  0%{
    color:var(--light1);
  }
  25%{
    color:var(--light2);
  }
  50%{
    color:var(--dark1);
  }
  75%{
    color:var(--light2);
  }
  100%{
    color:var(--light1);
  }
  
}
@keyframes smallToBig {
  0%{
    scale: 0;
  }
  100%{
    scale: 1;
  }
}
@keyframes fadeOut {
  0%{
    scale: 1;
  }
  100%{
    scale: 0;
  }
}